<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>404</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="/public/CSS/bootstrap.css" /> 
<script src="/public/JS/bootstrap.js"></script>
<style type="text/css">
body{
	font-family:Arial, Helvetica, sans-serif;
}

p a{
	color:#eee;
	font-size:13px;
	margin-left:30px;
	padding:5px;
	background:#009688;
	text-decoration:none;
	-webkit-border-radius:.3em;
	   -moz-border-radius:.3em;
	        border-radius:.3em;
}
p a:hover{
	color: #fff;
}

.center_404{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    float:none !important;
    margin-top:20%;
}


</style>

</head>
<body>
<div class="container">
    <div class="col-xs-6 col-sm-6 col-md-6 center_404">
        <img src="public/images/404.png" class="img-responsive"  />
        <p class="text-justify"><a href="/">Go back to Home</a></p>
    </div>
</div>
</body>
</html>
